html {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
body {
  background-color: #16161a;
}
.App {
  background-color: rgb(14, 13, 13);
  color: #fffffe;
  font-size: 1.3rem;
  border-radius: 10px;
  line-height: 1.5;
  width: 70vw;
  margin: auto;
}
.App h1 {
  text-align: center;
  padding-top: 1.5rem;
}
.App ul:last-child{
  padding-bottom: 1rem;
}