html {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
body {
  background-color: #004643;
}
.App {
  background-color:#f9bc60;
  color: #001e1d;
  font-size: 1.3rem;
  border-radius: 10px;
  line-height: 1.5;
  width: 800px;
  margin: auto;
  /* overflow: scroll; */
}
.App h1 {
  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 0;
}
.App ul:last-child{
  padding-bottom: 1rem;
}